.idea/
.DS_Store
Thumbs.db
gsasrec_env/

# Python
.venv/
__pycache__/
*.pyc
.vscode

# Rust
target/
**/*.rs.bk
.cargo/

# Datasets
datasets/

# Extensions of datasets
*.jsonl
*.dat
*.csv

# Generated models
models
*.onnx
*.onnx.data
*.data

# Useless stuff
*.png
*.xlsx